{% load static %}

<!DOCTYPE HTML>

<html lang="en">
	<head>
		<title>Mihoyo System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'Massively/assets/css/main.css' %}"/>
		<noscript><link rel="stylesheet" href="{% static 'Massively/assets/css/noscript.css' %}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						mihoyo.system</h1>
                        <p>A work-in-progess stats loader / damage calculator for <b> <a href="https://genshin.hoyoverse.com/">Genshin Impact</a> </b></p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scroll">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">mihoyo.systems</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="{% url 'MainPage' %}">UID INPUT</a></li>
							<li><a href="{% url 'uid_loaded_index' %}">General Overview</a></li>
							<li><a href="{% url 'advancedStats' %}">Advanced Stats</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://github.com/totallynotnochi/mihoyo.systems" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">UID INPUT:</a></h2>
								</header>

                                <form method="post">
                                    {% csrf_token %}
                                    <label for="genshin_uid">Your Genshin Impact UID:</label>
                                    <input type="number" id="genshin_uid" name="GenshinUID" required>
                                    <button type="submit">Submit UID</button>
                                </form>
							</article>
					</div>
            </div>



<footer>
    <head>
    <style>
        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <h1>Developed by <a href="https://github.com/totallynotnochi">Nochi.</a></h1>
</body>
</footer>


		<!-- Scripts -->
			<script src="{% static 'Massively/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/util.js' %}"></script>
			<script src="{% static 'Massively/assets/js/main.js' %}"></script>

	</body>
</html>