<!DOCTYPE HTML>
{% load static %}
<html lang="en">
	<head>
		<title>Main Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'Massively/assets/css/main.css'%}" />
		<noscript><link rel="stylesheet" href="{% static 'Massively/assets/css/noscript.css'%}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">mihoyo.system</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li><a href="/">UID INPUT</a></li>
							<li class="active"><a href="{% url "uid_loaded_index" %}">Optimizer</a></li>
							<li><a href="elements.html">Elements Reference</a></li>
						</ul>
						<ul class="icons">
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">

                                        {% if genshin_data %}
                                        <h2>Player Information:</h2>
                                        <p>Nickname: {{ genshin_data.playerInfo.nickname }}</p>
                                        <p>Adventure Rank: {{ genshin_data.playerInfo.level }}</p>
                                        <p>World Level: {{ genshin_data.playerInfo.worldLevel }}</p>

                                        <h2>Characters:</h2>
                                        <ul>
                                        {% for character in genshin_data.avatarInfoList %}
                                            <li>{{ character.name }} (Level: {{ character.level }})</li>
                                        {% endfor %}
                                        </ul>

                                        <h2>Stats:</h2>
                                        <p>Active Days: {{ genshin_data.stats.activeDayNumber }}</p>
                                        {% elif error_message %}
                                        <p>{{ error_message }}</p>
                                        {% endif %}

								</header>
								</section>

					</div>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'Massively/assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/browser.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'Massively/assets/js/util.js' %}"></script>
			<script src="{% static 'Massively/assets/js/main.js' %}"></script>

	</body>
</html>